.form__input {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 50px;
}

.formField {
    border: 1px solid #cccc;
    width: 100%;
    max-width: 200px;
    border-radius: 6px;
    background-color: #d1f6ea;
    padding: 8px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
}

.formField:required {
    border-color: hsl(0, 0%, 40%);
    background-color: hsl#d1f6ea;
}

.formCurrency {
    border: 1px solid #cccc;
    width: 100%;
    max-width: 200px;
    border-radius: 6px;
    background-color: #d1f6ea;
    padding: 8px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
}

.form__button {
    width: 100%;
    max-width: 100%;
    border: none;
    color: black;
    background-color: #22f3b1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
    font-size: 23px;
}

.form__button:hover {
    background-color: hsl(161, 90%, 65%);
}

.form__button:active {
    background-color: hsl(161, 90%, 80%);
}

.form__fieldset {
    border: 1px solid #cccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 6px -6px 10px -1px rgba(0, 0, 0, 0.75);
    background-color: #fbfdfc;
    font-size: 23px;
}

.form__legend {
    border: 1px solid #cccc;
    border-radius: 8px;
    background-color: #22f3b1;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.formResult {
    font-size: 30px;
}